* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top right, #1e3a5f, #0f1e3f, #0b132b);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    height: 200px;
    width: 200px;
}
.cuerpo{
    background-color: #1e3a5f;
    height: auto;
    padding: 100px 10px 100px 10px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 0 10px black;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.botones button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #0285c767;
    box-shadow: 0 0 10px black;
    border: none;
    transition: all 500ms ease;
}
.botones button:hover{
    background-color: #0284c7;
    transform: scale(0.9);
}
.botones button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}